body, html, #root, .container{
  margin: 0;
  top: 0;
  padding: 0;
  background-color: var(--colors-background);
}

:root {
  --colors-neutral800: #0E0E0E;
  --colors-neutral700: #161616;
  --colors-neutral600: #1D1D1D;
  --colors-neutral500: #252525;
  --colors-neutral400: #292929;
  --colors-neutral300: #2D2D2D;
  --colors-neutral200: #303030;
  --colors-neutral100: #343434;
  --colors-foreground800: #666666;
  --colors-foreground700: #858585;
  --colors-foreground600: #A3A3A3;
  --colors-foreground500: #C2C2C2;
  --colors-foreground400: #D1D1D1;
  --colors-foreground300: #E0E0E0;
  --colors-foreground200: #F0F0F0;
  --colors-foreground100: #FFFFFF;
  --colors-lime800: #D6FB41;
  --colors-lime700: #DCFF50;
  --colors-lime600: #E3FF73;
  --colors-lime500: #EAFF96;
  --colors-lime400: #F1FFB9;
  --colors-lime300: #F5FFCB;
  --colors-lime200: #F8FFDC;
  --colors-lime100: #FCFFEE;
  --colors-purple800: #644ED7;
  --colors-purple700: #7B61FF;
  --colors-purple600: #9581FF;
  --colors-purple500: #B0A0FF;
  --colors-purple400: #CAC0FF;
  --colors-purple300: #D7D0FF;
  --colors-purple200: #E5DFFF;
  --colors-purple100: #F2EFFF;
  --colors-vscode800: #007ACC;
  --colors-vscode700: #0098FF;
  --colors-vscode600: #33ADFF;
  --colors-vscode500: #66C1FF;
  --colors-vscode400: #99D6FF;
  --colors-vscode300: #B3E0FF;
  --colors-vscode200: #CCEAFF;
  --colors-vscode100: #E6F5FF;
  --colors-red800: #EB5E5E;
  --colors-red700: #ED6C6C;
  --colors-red600: #EF7A7A;
  --colors-red500: #F08787;
  --colors-red400: #F29595;
  --colors-red300: #F39C9C;
  --colors-red200: #F3A2A2;
  --colors-red100: #F5B0B0;
  --colors-green800: #5AC249;
  --colors-green700: #6FEC5B;
  --colors-green600: #8CF07C;
  --colors-green500: #A9F49D;
  --colors-green400: #C5F7BD;
  --colors-green300: #D4F9CE;
  --colors-green200: #E2FBDE;
  --colors-green100: #F1FDEF;
  --colors-orange800: #EC775B;
  --colors-orange700: #EE8269;
  --colors-orange600: #F08D77;
  --colors-orange500: #F19985;
  --colors-orange400: #F3A492;
  --colors-orange300: #F4AA99;
  --colors-orange200: #F4B0A0;
  --colors-orange100: #F6BBAE;
  --colors-blue800: #054491;
  --colors-blue700: #075AC1;
  --colors-blue600: #0971F1;
  --colors-blue500: #3A8DF4;
  --colors-blue400: #6BAAF7;
  --colors-blue300: #9DC6F9;
  --colors-blue200: #B5D4FB;
  --colors-blue100: #CEE3FC;
  --colors-yellow800: #D0AA52;
  --colors-yellow700: #F7CC66;
  --colors-yellow600: #F9D685;
  --colors-yellow500: #FAE0A3;
  --colors-yellow400: #FCEBC2;
  --colors-yellow300: #FDF0D1;
  --colors-yellow200: #FDF5E0;
  --colors-yellow100: #FFFFFF;
  --colors-background: var(--colors-neutral800);
  --colors-text: var(--colors-foreground200);
  --colors-link: var(--colors-lime600);
}